VITE_SUPABASE_URL=https://wkvsvuthpttqevfifhpm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrdnN2dXRocHR0cWV2ZmlmaHBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNDU3MjUsImV4cCI6MjA4NzgyMTcyNX0.lR04qhPuS_lLuQPA6zZQrNl-8mb85PQ3n0yfspvz4-c
